syntax enable


set backspace=indent,eol,start
set number
"relative numbers for rows
set nu rnu

set clipboard=unnamedplus   " using system clipboard
set noswapfile
set visualbell
set noerrorbells
set ignorecase              " case insensitive 
set smartcase


call plug#begin()
Plug 'preservim/nerdtree'
call plug#end()
"----------------------------------------------------------------
" увидеть все команды
":actionlist
set splitright
" enable line numbers
" make sure relative line numbers are used
nnoremap <silent> ;n :<C-u>NERDTreeToggle<CR>
nnoremap <silent> ;t :<C-u>NERDTreeFocus<CR>
nnoremap <silent> 't :<C-u>NERDTreeFind<CR>
"----------------------------------------------------------------

" copy till the end of the line
nnoremap Y y$

" save
nnoremap <space><space> <Esc>:<C-u>w<CR>

nnoremap gh <C-W><C-H>
nnoremap gj <C-W><C-J>
nnoremap gk <C-W><C-K>
nnoremap gl <C-W><C-L>

nnoremap gi <C-I>
nnoremap go <C-O>

nnoremap ;u <C-u>zz
nnoremap ;d <C-d>zz

nnoremap q :wq<cr>

inoremap <M-f> <ESC>
vnoremap <M-f> <ESC>

" remap fast bookmarks
noremap ma mA
noremap <space>a `A
noremap ms mS
noremap <space>s `S
noremap md mD
noremap <space>d `D
noremap mf :delmarks A<CR>:delmarks S<CR>:delmarks D<CR>

" fast react component search
noremap <space>y G0?}<CR>%<CR>:<C-u>?(<CR>0f(<CR>ztkj
noremap <space>u G0/export<CR>?)<CR>%0f(<CR>ztkj
noremap <space>i G0?\Cinterface<CR>j0wztkj

" comment the line
map ;c :<C-u>action CommentByLineComment<CR>

" tabs
nnoremap , :tabprevious<CR>
nnoremap . :tabnext<CR>
nnoremap <C-W>t :tabedit<CR>

" resize split
nnoremap _ :<C-u>resize +5<CR>
nnoremap + :<C-u>resize -5<CR>
nnoremap - :<C-u>vertical resize +5<CR>
nnoremap = :<C-u>vertical resize -5<CR>

" http://codecode.fun/blog/2020/01/05/idea-actions-list
" or in IDR :actionlist
" in order to run action type - :action MoveTabRight
nnoremap <silent> ;f :<C-u>action GotoFile<CR>
vnoremap <silent> ;f :<C-u>action GotoFile<CR>
nnoremap <silent> ;s :<C-u>action FindInPath<CR>
vnoremap <silent> ;s :<C-u>action FindInPath<CR>

" git
noremap <space>h :<C-u>action VcsShowNextChangeMarker<CR>
noremap <space>l :<C-u>action VcsShowPrevChangeMarker<CR>

nnoremap <silent> ;v :<C-u>action SplitVertically<CR>
nnoremap <silent> ;b :<C-u>action SplitHorizontally<CR>

nnoremap <silent> ;a :<C-u>action QuickImplementations<CR>

" copies filepath to clipboard by pressing yf
nnoremap <silent> yf :<C-u>action CopyContentRootPath<CR>
" copies pwd to clipboard: command yd
" nnoremap <silent> yd :<C-u>action SplitHorizontally<CR>

"nnoremap gv gd gv gh q gl<CR>
noremap <silent> Q :<C-u>action CloseAllEditors<CR>
nnoremap gr :<C-u>action FindUsages<CR>
nnoremap gR :<C-u>action RenameElement<CR>
nnoremap <space>j :<C-u>action GotoNextError<CR>
nnoremap <space>k :<C-u>action GotoPreviousError<CR>

"----------------------------------------------------------------
